body {
  background: #000; 
}

canvas {
  background: #101010;
  box-shadow: 0 0 0 2px #191919;
  display: block;
  left: 30%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
} 
